.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    margin: 4.9rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 3rem;
    background-color: #fff;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
}





