@import '../partials/mixins';


.acceptOfferText {
    width: 40%;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    
    h2 {
        font-size: 3rem;
        font-weight: 300;
        margin: 0rem 0rem 2rem;
    }
    
    p {
        line-height: 1.5rem;
    }
}

.acceptOfferInfo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    
    .responsive-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
        // width: 1056px;
        
        .box {
            width: 256px;
            height: 2rem;
        }
    
        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 2rem;
            width: 700px;
            margin-top: 2rem;
        }

    .acceptOfferInfo-imageWrapper {
        
        .acceptOfferInfo-image {
            width: 256px;
            margin-bottom: 1rem;
            border-radius: 10px;
        }
        h5 {
            font-size: 1rem;
            margin-bottom: .5rem;
        }
    }


    .acceptOfferInfo-text {
        min-width: 450px;
        max-width: 700px;

        h4 {
            margin-bottom: 1.5rem;
        }

        p {
            margin: 4rem 0rem 0rem;
        }

    }
}

}

@include tablet {
    .acceptOfferText {
        width: 90%;
        line-height: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        
        h2 {
            font-size: 2rem;
            font-weight: 400;
            margin: 0rem 0rem 2rem;
        }
    
        p {
            line-height: 1.5rem;
        }
    }
    
    .acceptOfferInfo-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    
        .responsive-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 350px;
            gap: 3rem;
    
            .box {
                width: 256px;
                height: 2rem;
            }

            .buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                width: 100%;
                margin-top: rem;

            }
        
    
        .acceptOfferInfo-imageWrapper {


    
            .acceptOfferInfo-image {
                width: 350px;
                height: 252px;
                margin-bottom: 1rem;
                border-radius: 10px;
            }
            h5 {
                font-size: 1rem;
                margin-bottom: .5rem;
            }
        }
    
    
        .acceptOfferInfo-text {
            min-width: 100%;
    
            h4 {
                margin-bottom: 1.5rem;
            }
    
            p {
                margin: 4rem 0rem 0rem;
            }
    
        }
    }

    
    }
}