// Visual Studio Code Colors
$bg-primary: #1f1f1f;
$bg-secondary: #181818;
$bg-lighter: #2c2d2f;
$bg-highlight: #38373d;

$card-color: rgba(255,255,255,0.03);

$box-shadow: .2px .4px 2px #00000079;
$box-shadow-nav: 0px .5px 2px #00000079;
$box-shadow-footer: inset 0px .5px 2px #00000064;
$inputField: rgba(255, 255, 255, 0.125);

$border-nav: #2c2d2f51;
$border-footer: #2c2d2f8c;

$text-light: #2c2d2f;
$text-link: #84a27c;
$text-link-hover: #1dc999;

$import: #b395b1;
$lightblue: #4cb6f0;
$string: #d39280;
$parentheses: #d5d448;
$app: #dfd88a;
$components: #1dc999;
$const: #5f92d4;
$functionName: #4cb6f0;
$whiteChar: #dfdde0;
$return: #b277e1;
$fraction: #777777;
$comments: #84a27c;



// Light mode

$lightMode-bg-primary: #ffffff;
$lightMode-bg-secondary:#f0f0f0;
$lightMode-text: #242424;
$lightMode-text-light: #555555;

$lightMode-card-color: rgba(255,255,255,0.03);